<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <h1>Submit Form to model predict</h1>
    <br>
    <h3>To submit default values just click in Predict with all form in blank! </h3>
    <form action="/submit" method="post">
        <label for="texture_mean">Texture Mean:</label>
        <input type="text" id="texture_mean" name="texture_mean - default: 18.66"><br><br>
        <label for="smoothness_mean">Smoothness Mean - default: 18.66":</label>
        <input type="text" id="smoothness_mean" name="smoothness_mean - default: 0.1158"><br><br>
        <label for="compactness_mean">Compactness Mean - default: 0.1158:</label>
        <input type="text" id="compactness_mean" name="compactness_mean - default: 0.1231"><br><br>
        <label for="concavity_mean">Concavity Mean default: 0.1231:</label>
        <input type="text" id="concavity_mean" name="concavity_mean - default: 0.1226"><br><br>
        <label for="concave_points_mean">Concave Points Mean default: 0.1226:</label>
        <input type="text" id="concave_points_mean" name="concave_points_mean - default: 0.0734"><br><br>
        <label for="symmetry_mean">Symmetry Mean default: 0.0734:</label>
        <input type="text" id="symmetry_mean" name="symmetry_mean - default: 0.2128"><br><br>
        <label for="fractal_dimension_mean">Fractal Dimension Mean default: 0.2128:</label>
        <input type="text" id="fractal_dimension_mean" name="fractal_dimension_mean default: 0.06777"><br><br>
        <label for="texture_se">Texture SE default: 0.06777:</label>
        <input type="text" id="texture_se" name="texture_se default: 0.8937"><br><br>
        <label for="perimeter_se">Perimeter SE default: 0.8937:</label>
        <input type="text" id="perimeter_se" name="perimeter_se default: 1.897"><br><br>
        <label for="area_se">Area SE default: 1.897:</label>
        <input type="text" id="area_se" name="area_se default: 24.25"><br><br>
        <label for="smoothness_se">Smoothness SE default: 24.25:</label>
        <input type="text" id="smoothness_se" name="smoothness_se default: 0.006532"><br><br>
        <label for="compactness_se">Compactness SE default: 0.006532:</label>
        <input type="text" id="compactness_se" name="compactness_se default: 0.02336"><br><br>
        <label for="concavity_se">Concavity SE default: 0.02336:</label>
        <input type="text" id="concavity_se" name="concavity_se default: 0.02905"><br><br>
        <label for="concave_points_se">Concave Points SE default: 0.02905:</label>
        <input type="text" id="concave_points_se" name="concave_points_se default: 0.01215"><br><br>
        <label for="symmetry_se">Symmetry SE default: 0.01215:</label>
        <input type="text" id="symmetry_se" name="symmetry_se default: 0.01743"><br><br>
        <label for="fractal_dimension_se">Fractal Dimension SE default: 0.01743:</label>
        <input type="text" id="fractal_dimension_se" name="fractal_dimension_se default: 0.003643"><br><br>
        <label for="texture_worst">Texture Worst default: 0.003643:</label>
        <input type="text" id="texture_worst" name="texture_worst default: 27.95"><br><br>
        <label for="area_worst">Area Worst default: 27.95:</label>
        <input type="text" id="area_worst" name="area_worst default: 759.4"><br><br>
        <label for="smoothness_worst">Smoothness Worst default: 759.4:</label>
        <input type="text" id="smoothness_worst" name="smoothness_worst default: 0.1786"><br><br>
        <label for="compactness_worst">Compactness Worst default: 0.1786:</label>
        <input type="text" id="compactness_worst" name="compactness_worst default: 0.4166"><br><br>
        <label for="concavity_worst">Concavity Worst default: 0.4166:</label>
        <input type="text" id="concave_points_worst" name="concave_points_worst default: 0.2088"><br><br>
        <label for="cocave_points_worst">Concave_points Worst default: 0.2088:</label>
        <input type="text" id="symmetry_worst" name="symmetry_worst default: 0.39"><br><br>
        <label for="symmetry_worst">Symmetry Worst default: 0.39:</label>
        <input type="text" id="fractal_dimension_worst" name="fractal_dimension_worst default: 0.117"><br><br>
        <label for="concavity_worst">Fractal dimension Worst default: 0.117:</label>
        <input type="submit" value="Predict">
      </form>
    </body>
  </html>
  